
<!-- Latest Blog -->
<section id="aa-latest-blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-latest-blog-area">
                    <h2>專欄文章</h2>
                    <div class="row">
                        <!-- single latest blog -->
                        <div class="col-md-4 col-sm-4">
                            <div class="aa-latest-blog-single">
                                <figure class="aa-blog-img">
                                    <a href="~/Blog/Blog1"><img src="~/Assets/images/HomeImages/blog1.jpg" alt="img"></a>
                                    <figcaption class="aa-blog-img-caption">
                                        <span href="#"><i class="fa fa-eye"></i>5K</span>
                                        <a href="#"><i class="fa fa-thumbs-o-up"></i>426</a>
                                        <a href="#"><i class="fa fa-comment-o"></i>20</a>
                                        <span href="#"><i class="fa fa-clock-o"></i>June 26, 2016</span>
                                    </figcaption>
                                </figure>
                                <div class="aa-blog-info">
                                    <h3 class="aa-blog-title"><a href="~/Blog/Blog1">日常節奏的自由轉換</a></h3>
                                    <p>
                                        穿行在生活日常,<br />
                                        工作與運動間,<br />
                                        循自己的步調,<br />
                                        <br />
                                        帶點 smart casual, 兼具正式與休閒的獨特,<br />
                                        與 Tone Oilnume 中型後背包一起,<br />
                                        自由轉換呼吸節奏...
                                    </p>
                                    <a href="~/Blog/Blog1" class="aa-read-mor-btn">Read more <span class="fa fa-long-arrow-right"></span></a>
                                </div>
                            </div>
                        </div>
                        <!-- single latest blog -->
                        <div class="col-md-4 col-sm-4">
                            <div class="aa-latest-blog-single">
                                <figure class="aa-blog-img">
                                    <a href="~/Blog/Blog2"><img src="~/Assets/images/HomeImages/blog2.jpg" alt="img"></a>
                                    <figcaption class="aa-blog-img-caption">
                                        <span href="#"><i class="fa fa-eye"></i>5K</span>
                                        <a href="#"><i class="fa fa-thumbs-o-up"></i>426</a>
                                        <a href="#"><i class="fa fa-comment-o"></i>20</a>
                                        <span href="#"><i class="fa fa-clock-o"></i>June 26, 2016</span>
                                    </figcaption>
                                </figure>
                                <div class="aa-blog-info">
                                    <h3 class="aa-blog-title"><a href="~/Blog/Blog2">大人系的成熟品味</a></h3>
                                    <p>
                                        時間削去了鮮明稜角<br />
                                        鏡框襯在臉上有著更好的樣子<br />
                                        <br />
                                        季節在日子裡流轉變換<br />
                                        我總習慣替鋼筆換上當季的墨色<br />
                                        <br />
                                        陪伴在側的忠實夥伴<br />
                                        不知不覺間沾染了自己的氣息<br />
                                        <br />
                                        每一天裡<br />
                                        我都與我的愛用品們變得更加熟悉...
                                    </p>
                                    <a href="~/Blog/Blog2" class="aa-read-mor-btn">Read more <span class="fa fa-long-arrow-right"></span></a>
                                </div>
                            </div>
                        </div>
                        <!-- single latest blog -->
                        <div class="col-md-4 col-sm-4">
                            <div class="aa-latest-blog-single">
                                <figure class="aa-blog-img">
                                    <a href="~/Blog/Blog3"><img src="~/Assets/images/HomeImages/blog3.jpg" alt="img"></a>
                                    <figcaption class="aa-blog-img-caption">
                                        <span href="#"><i class="fa fa-eye"></i>5K</span>
                                        <a href="#"><i class="fa fa-thumbs-o-up"></i>426</a>
                                        <a href="#"><i class="fa fa-comment-o"></i>20</a>
                                        <span href="#"><i class="fa fa-clock-o"></i>June 26, 2016</span>
                                    </figcaption>
                                </figure>
                                <div class="aa-blog-info">
                                    <h3 class="aa-blog-title"><a href="~/Blog/Blog3">日本快訊--毛嵐</a></h3>
                                    <p>
                                        早晨驟降的氣溫, 使得湖面上起了霧氣, 在這樣的景色中幻想, 樹林彷彿受到旭日照耀而安心吐息著。<br />
                                        <br />
                                        湖與海面起霧的現象稱為「毛嵐」(讀音: kearashi), <br />
                                        從字面上看會以為是狂亂的氣候狀態(編按:「嵐」在日文中為「暴風雨」的意思), <br />
                                        但其實是用來形容從晚秋進入冬天, 放晴而平靜的清晨的字詞。<br />
                                        當太陽緩緩升起, 霧氣逐漸散去, 能夠看到這般景象變化的人實屬幸運。<br />
                                        ...
                                    </p>
                                    <a href="~/Blog/Blog3" class="aa-read-mor-btn">Read more <span class="fa fa-long-arrow-right"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Latest Blog -->
