@using Leder.ViewModels;
@{
    var quickViewData = (IEnumerable<ProductViewModel>)ViewData["ProductsSectionQuickViewData"];
                  }

<!-- Products section -->
<section id="aa-product" style="margin-top:30px">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="aa-product-area">
                        <div class="aa-product-inner">
                            <!-- start product navigation -->
                            <ul class="nav nav-tabs aa-products-tab">
                                <li class="active"><a href="#Totebag" data-toggle="tab">側背包</a></li>
                                <li><a href="#Backpack" data-toggle="tab">後背包</a></li>
                                <li><a href="#Longclip" data-toggle="tab">長夾</a></li>
                                <li><a href="#Coinwallet" data-toggle="tab">零錢包</a></li>
                                <li><a href="#Namecard" data-toggle="tab">名片夾</a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                @Html.Partial("_ProductsSection")
                                @foreach (var p in quickViewData)
                                {
                                    @Html.Partial("_QuickViewPartial", p)
                                }
                            </div>
                            <!-- quick view modal -->
                            <!-- / quick view modal -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Products section -->
