@using Leder.ViewModels;

@{
    var productsSectionData = (List<ProductsSectionViewModel>)ViewData["ProductsSectionData"];
    var coinwallet = productsSectionData.Where(x => x.Category == "Coinwallet");
}


<!-- Start product category : Coinwallet -->
<div class="tab-pane fade" id="pdsect4">
    <ul class="aa-product-catg">
        @foreach (var item in coinwallet)
        {
            <!-- start single product item -->
            <li>
                <figure>
                    <a class="aa-product-img" href="@item.ProductPage">
                        <img class="img-responsive" src="@item.Photo" alt="@item.Name">
                    </a>
                    <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                    <figcaption>
                        <h4 class="aa-product-title"><a href="#">@item.Name</a></h4>
                        <span class="aa-product-price ">$@item.Price</span><span class="aa-product-price"><del>$@item.Price</del></span>
                    </figcaption>
                </figure>
                <div class="aa-product-hvr-content">
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                        <span class="fa fa-heart-o"></span>
                    </a>
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Compare">
                        <span class="fa fa-exchange"></span>
                    </a>
                    <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal"
                       data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                </div>
                <!-- product badge -->
                <span class="aa-badge aa-sale" href="#">SALE!</span>
                @*<span class="aa-badge aa-hot" href="#">HOT!</span>
                    <span class="aa-badge aa-sold-out" href="#">Sold Out!</span>*@
            </li>
            <!-- / start single product item -->
        }
    </ul>
    <a class="aa-browse-btn" href="#">
        Browse all Product <span class="fa fa-long-arrow-right"></span>
    </a>
</div>
<!-- / product category : Coinwallet  -->
