@using Leder.ViewModels;
@model ProductViewModel
    @{ 
         //var photos = Json.Encode(Model.Photos);  //將C#陣列轉成JSON字串

    }

<!-- quick view modal -->
<div class="modal fade" id="@Model.Id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" > 
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="row">
                    <!-- Modal view slider -->
                    <div class="col-md-7 col-sm-6 col-xs-12">
                        <div class="aa-product-view-slider">
                            <div class="simpleLens-gallery-container" id="demo-1">
                                <div class="simpleLens-container">
                                    <div class="simpleLens-big-image-container">
                                        <!-- data-lens-image這個屬性不是絕對路徑，不用加~ -->
                                        <a class="simpleLens-lens-image" data-lens-image="/Assets/images/@Model.Category/@Model.Photos[0]">
                                            <img src="/Assets/images/@Model.Category/@Model.Photos[0]" style="width:280px">
                                        </a>
                                    </div>
                                </div>
                                

                            </div>
                        </div>
                    </div>

                    <!-- Modal view content -->
                    <div class="col-md-5 col-sm-6 col-xs-12">
                        <div class="aa-product-view-content">
                            <h4>@Model.Name</h4>
                            <div class="aa-price-block">
                                <span class="aa-product-view-price">NT$@Model.Price</span>
                                <p class="aa-product-avilability">Avilability: <span>In stock</span></p>
                            </div>
                            <div class="aa-prod-quantity">
                                
                                    <h6>數量</h6>
                                    <form action="">
                                        <input type="number" min="1" value="1" style="width:50px" />
                                    </form>
                                
                            </div>
                            <div class="aa-prod-view-bottom">
                                <a onclick="AddToCart('@Model.Id', 1)" href="#" class="aa-add-to-cart-btn"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                                @*<a href="#" class="aa-add-to-cart-btn">View Details</a>*@
                                
                                @Html.ActionLink("View Detail", "ProductDetail", new { id=@Model.Id},htmlAttributes: new { @class = "aa-add-to-cart-btn" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- / quick view modal -->
