
@{
    ViewBag.Title = "_SidebarPartial";
}

    <div class="col-lg-3 col-md-3 col-sm-4 col-md-pull-9">
        <aside class="aa-sidebar">
            <!-- single sidebar -->
            <div class="aa-sidebar-widget">
                <h3>產品分類</h3>
                <ul class="aa-catg-nav ProductCategoryParent">
                    @*用ajax呼叫*@                  
                        <li><a href="javascript:void(0)" class="ProductCategory" id="Totebag">側背包</a></li>
                        <li><a href="javascript:void(0)" class="ProductCategory" id="Backpack">後背包</a></li>
                        <li><a href="javascript:void(0)" class="ProductCategory" id="Longclip">長夾</a></li>
                        <li><a href="javascript:void(0)" class="ProductCategory" id="Coinwallet">零錢包</a></li>
                        <li><a href="javascript:void(0)" class="ProductCategory" id="Namecard">名片夾</a></li>                   
                </ul>
            </div>
            <!-- single sidebar -->
            <div class="aa-sidebar-widget">
                <h3>Tags</h3>
                <div class="tag-cloud">
                    <a href="javascript:void(0)">Fashion</a>
                    <a href="javascript:void(0)">High-class</a>
                    <a href="javascript:void(0)">Fancy</a>
                    <a href="javascript:void(0)">ToteBag</a>
                    <a href="javascript:void(0)">Backpack</a>
                    <a href="javascript:void(0)">Longclip</a>
                    <a href="javascript:void(0)">Coinwallet</a>
                </div>
            </div>
          
            <!-- single sidebar -->
            <div class="aa-sidebar-widget">
                <h3>Recently Views</h3>
                <div class="aa-recently-views">
                    <ul>
                        <li>
                            <a href="~/Id/11" class="aa-cartbox-img"><img alt="img" src="~/Assets/images/Longclip/Longclip1.jpg"></a>
                            <div class="aa-cartbox-info">
                                <h4><a href="~/Id/11">Belchord 長夾</a></h4>
                                <p>1 x $22605</p>
                            </div>
                        </li>
                        <li>
                            <a href="~/Id/9" class="aa-cartbox-img"><img alt="img" src="~/Assets/images/Backpack/Backpack1.jpg"></a>
                            <div class="aa-cartbox-info">
                                <h4><a href="~/Id/9">Tone Oilnume 中型後背包</a></h4>
                                <p>1 x $27199</p>
                            </div>
                        </li>
                        <li>
                            <a href="~/Id/3" class="aa-cartbox-img"><img alt="img" src="~/Assets/images/Totebag/Totebag3.jpg"></a>
                            <div class="aa-cartbox-info">
                                <h4><a href="~/Id/3">Tone Oilnume 迷你郵差包</a></h4>
                                <p>1 x $18378</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- single sidebar -->
            <div class="aa-sidebar-widget">
                <h3>Top Rated Products</h3>
                <div class="aa-recently-views">
                    <ul>
                        <li>
                            <a href="~/Id/24" class="aa-cartbox-img"><img alt="img" src="~/Assets/images/Namecard/Namecard1.jpg"></a>
                            <div class="aa-cartbox-info">
                                <h4><a href="~/Id/24">Bridle 名片夾</a></h4>
                                <p>1 x $5113</p>
                            </div>
                        </li>
                        <li>
                            <a href="~/Id/4" class="aa-cartbox-img"><img alt="img" src="~/Assets/images/Totebag/Totebag4.jpg"></a>
                            <div class="aa-cartbox-info">
                                <h4><a href="~/Id/4">Tone Oilnume 兩用托特包</a></h4>
                                <p>1 x $26648</p>
                            </div>
                        </li>
                        <li>
                            <a href="~/Id/6" class="aa-cartbox-img"><img alt="img" src="~/Assets/images/Totebag/Totebag6.jpg"></a>
                            <div class="aa-cartbox-info">
                                <h4><a href="~/Id/6">Plota 防水兩用斜背包</a></h4>
                                <p>1 x $12497</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </aside>
    </div>

