<!-- Start slider -->
<section id="aa-slider">
    <div class="aa-slider-area">
        <div id="sequence" class="seq">
            <div class="seq-screen">
                <ul class="seq-canvas">
                    <!-- single slide item -->
                    <li>
                        <div class="seq-model">
                            <img data-seq src="~/Assets/images/HomeImages/top_picture1.jpg" alt="Top slide img1" />
                        </div>
                        <div class="seq-title">
                            <span data-seq>Save Up to 25% Off</span>
                            <h2 data-seq>Leder Collection</h2>
                            <p data-seq>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, illum.</p>
                            <a data-seq href="#" class="aa-shop-now-btn aa-secondary-btn">SHOP NOW</a>
                        </div>
                    </li>
                    <!-- single slide item -->
                    <li>
                        <div class="seq-model">
                            <img data-seq src="~/Assets/images/HomeImages/top_picture2.jpg" alt="Top slide img2" />
                        </div>
                        <div class="seq-title">
                            <span data-seq>Save Up to 30% Off</span>
                            <h2 data-seq>Leder Collection</h2>
                            <p data-seq>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, illum.</p>
                            <a data-seq href="#" class="aa-shop-now-btn aa-secondary-btn">SHOP NOW</a>
                        </div>
                    </li>
                    <!-- single slide item -->

                    <li>
                        <div class="seq-model">
                            <img data-seq src="~/Assets/images/HomeImages/top_picture3.jpg" alt="top slide img3" />
                        </div>
                        <div class="seq-title">
                            <span data-seq>Save Up to 75% Off</span>
                            <h2 data-seq>Leder Collection</h2>
                            <p data-seq>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, illum.</p>
                            <a data-seq href="#" class="aa-shop-now-btn aa-secondary-btn">SHOP NOW</a>
                        </div>
                    </li>
                    <!-- single slide item
                    <li>
                      <div class="seq-model">
                        <img data-seq src="img/slider/4.jpg" alt="Shoes slide img" />
                      </div>
                      <div class="seq-title">
                        <span data-seq>Save Up to 75% Off</span>
                        <h2 data-seq>Exclusive Shoes</h2>
                        <p data-seq>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, illum.</p>
                        <a data-seq href="#" class="aa-shop-now-btn aa-secondary-btn">SHOP NOW</a>
                      </div>
                    </li>
                    single slide item
                     <li>
                      <div class="seq-model">
                        <img data-seq src="img/slider/5.jpg" alt="Male Female slide img" />
                      </div>
                      <div class="seq-title">
                        <span data-seq>Save Up to 50% Off</span>
                        <h2 data-seq>Best Collection</h2>
                        <p data-seq>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, illum.</p>
                        <a data-seq href="#" class="aa-shop-now-btn aa-secondary-btn">SHOP NOW</a>
                      </div>
                    </li>-->
                </ul>
            </div>
            <!-- slider navigation btn -->
            <fieldset class="seq-nav" aria-controls="sequence" aria-label="Slider buttons">
                <a type="button" class="seq-prev" aria-label="Previous"><span class="fa fa-angle-left"></span></a>
                <a type="button" class="seq-next" aria-label="Next"><span class="fa fa-angle-right"></span></a>
            </fieldset>
        </div>
    </div>
</section>
<!-- / slider -->
