<div class="container">
    <h2><I>謝謝您的光臨，我們會盡快為您出貨!!</I></h2>

    <img src="~/Assets/images/HomeImages/top_picture1.jpg" alt="" style="height:40%;width:100%;margin-bottom:20px" />

    <div style="text-align:center;margin-bottom:20px">
        <button class="aa-browse-btn" href="~/Product/Totebag">繼續購物</button>
        <button class="aa-browse-btn" href="~/Home/Index">回到首頁</button>
    </div>
    




</div>

