


<div class="container" style="margin-top:50px; line-height:50px;text-indent:2em;text-align:center;">
    <img src="~/Assets/images/Big.jpg" style="width:1150px" /><br />
    <br />
    <h2>
        關於里德皮件店
    </h2>
    <hr size="8px" align="center" width="30%">
    <h4>Leder Leather Since 1965</h4>
    <br />


    <div class="container">
        <div class="row" style="margin:0 auto; width:60%;text-align:left">
            <span>
                1965 年，位於日本東京一處充滿製物氣息的市郊小區，土屋鞄製造所在此展開了製鞄事業。在日本，每位小學生在入學時都會獲得一只小書包，是日本孩童記憶裡的最佳夥伴，也是六年小學生活裡唯一不變的事物。打造出能與孩子一同成長且舒適耐用的小學生書包，就是土屋鞄的起點。
            </span><br /><br />
            <span>
                創立至今，五十多年過去了，延續著堅固、耐用、舒適等基本訴求，運用累積數十年的製鞄技術面對每一次的改革與創新，進而發展出大人專用的皮革包。在無數個製鞄環節中，職人縝密思考、謹慎下針，為使用者的使用體驗添入了更多細膩的細節，再透過日式傳統嚴謹的製物流程掌握每一環節，希望提升製品的信賴度。土屋鞄製造所期望能為使用者帶來優良的使用體驗。
            </span><br />
        </div>
    </div>
    <br />
    <br />

    <div class="container">
        <div class="row" style="margin:0 auto;">
            <div class="col-lg-5">
                <img src="~/Assets/images/about1.jpg" style="width:500px" />
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
                <img src="~/Assets/images/about2.jpg" style="width:500px" />
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row" style="margin:0 auto; width:60%;text-align:left">
            <span>
                <br />
                在每個親手縫製的皮革包背後，都隱藏著不為人知的汗水。職人們在不同崗位上，一日日重複做著看似簡單，卻無法輕忽怠慢的工作。土屋鞄製造所皮革製品皆採天然優質之皮革製成並將皮革魅力最大化，同時進行最低限度的設計。包袋外觀儘可能地保持簡約、不複雜，沒有繁複的細節，我們只選擇對使用者來說必要的部分，好讓優良的皮革質地晉升為皮革包的主角。一種屬於日本特有的極簡美學型態展現在使用者面前。即便度過了數年後，使用者依舊能夠持續地使用它，能夠長久地擁有它。
            </span><br />
        </div>
    </div>

    <br />
    <br />
    <img src="~/Assets/images/about3.jpg" style="width:1150px" /><br />
    <br />

    <div class="container">
        <div class="row" style="margin:0 auto; width:60%;text-align:left">
            <span>
                為了提供給您隨心所欲的使用體驗，讓您再也不需要煩惱日常的外出搭配。在製品看不見的背後，謹慎小心地面對每一分、每一寸的製程。我們相信經過縝密思考的簡潔外型能為製品帶來雅緻氣質，並呈現知性洗鍊的細膩感。因此土屋鞄的皮革製品無論是在工作、休閒場合都適用，它是您在生活中也能信賴的忠實夥伴。
            </span>
        </div>
    </div>

    <br />
    <br />
    <img src="~/Assets/images/about4.jpg" style="width:1150px" /><br />
    <br />
    <br />



</div>
@Html.Partial("_SubscribePartial")
