

    <div class="container" style="margin-top:50px; line-height:50px;text-indent:2em;text-align:center;">
        <img src="~/Assets/images/BlogImages/Blog2_Big.jpg" style="width:1150px" /><br />
        <h3>大人系的成熟品味</h3>
        <img src="~/Assets/images/BlogImages/Blog2_title1.png" style="width:200px" /> <br />

        <span>
            時間削去了鮮明稜角
        </span><br />
        <span>
            鏡框襯在臉上有著更好的樣子

        </span><br />
        <br />

        <span>
            季節在日子裡流轉變換
        </span><br />
        <span>
            我總習慣替鋼筆換上當季的墨色
        </span><br />
        <br />

        <span>
            陪伴在側的忠實夥伴
        </span><br />
        <span>
            不知不覺間沾染了自己的氣息
        </span><br />
        <br />

        <span>
            每一天裡
        </span><br />
        <span>
            我都與我的愛用品們變得更加熟悉

        </span><br />
        <br />

        <span>
            符合臉型的眼鏡、流暢好寫的鋼筆、低調知性的皮革製品
        </span><br />
        <span>
            生活裡再也無需太多的其他

        </span><br />
        <span>
            簡單、上品,應該就是大人的生活感
        </span><br />
        <br />
        <button type="button" class="btn btn-secondary btn-lg"><a href="~/Product/Totebag">全系列品項</a></button>
        <br />
        <br />

        @*黑色背景部分*@
    <div class="container" style="background-color:black;color:white">
        <h3>
            British Bridle Leather
        </h3>
        <h3>
            來自英國的傳統頂級牛皮
        </h3><br />
        <br />

        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
                <br />
                <br />
                <h3>
                    結實強韌的皮革素材
                </h3>
            </div>
            <div class="col-lg-5">
                <img src="~/Assets/images/BlogImages/Blog2_1.jpg" style="width:400px" /><br />
            </div>
            <div class="col-lg-1"></div>
        </div>
        <br />

        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
                <img src="~/Assets/images/BlogImages/Blog2_2.jpg" style="width:400px" /><br />
            </div>
            <div class="col-lg-5">
                <br />
                <br />
                <h3>
                    全程於英國生產製造的製革工房
                </h3>
            </div>
            <div class="col-lg-1"></div>
        </div>
        <br />

        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
                <br />
                <br />
                <h3>
                    耗時費力的頂級工藝皮革
                </h3>
            </div>
            <div class="col-lg-5">
                <img src="~/Assets/images/BlogImages/Blog2_3.jpg" style="width:400px" /><br />
            </div>
            <div class="col-lg-1"></div>
        </div>
        <br />

        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
                <img src="~/Assets/images/BlogImages/Blog2_4.jpg" style="width:400px" /><br />
            </div>
            <div class="col-lg-5">
                <br />
                <br />
                <h3>
                    考驗製革匠的功力技術
                </h3>
            </div>
            <div class="col-lg-1"></div>
        </div>
        <br />

        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
                <br />
                <br />
                <h3>
                    日本境內率先採用
                </h3>
            </div>
            <div class="col-lg-5">
                <img src="~/Assets/images/BlogImages/Blog2_5.jpg" style="width:400px" /><br />
            </div>
            <div class="col-lg-1"></div>
        </div>
        <br />

        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
                <img src="~/Assets/images/BlogImages/Blog2_6.jpg" style="width:400px" /><br />
            </div>
            <div class="col-lg-5">
                <br />
                <br />
                <h3>
                    精良縫製與嚴謹製作
                </h3>
            </div>
            <div class="col-lg-1"></div>
        </div>
        <br />
        <br />
    </div>

    <div class="container">
        <br />
        <h3>
            Bridle Leather Stories
        </h3>
        <h3>
            看見更多 Bridle 的成熟魅力
        </h3>

        <hr size="8px" align="center" width="30%">

        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <a href="~/Id/24">
                    <img src="~/Assets/images/Namecard/Namecard1.jpg" style="width:300px" />
                </a>
            </div>
            <div class="col-3"></div>
        </div>
        <button type="button" class="btn btn-secondary btn-lg"><a href="~/Id/24">Bridle 名片夾</a></button>
        <hr size="8px" align="center" width="70%">
        <h3>更多文章</h3>
        <br />
        <div class="row" style="text-align:center">
            <div class="col-md-2 col-sm-2"></div>
            <!-- single latest blog -->
            <div class="col-md-4 col-sm-4">
                <div class="aa-latest-blog-single">
                    <figure class="aa-blog-img">
                        <a href="~/Blog/Blog1"><img src="~/Assets/images/HomeImages/blog1.jpg" alt="img"></a>
                    </figure>
                    <div class="aa-blog-info">
                        <h3 class="aa-blog-title"><a href="~/Blog/Blog1">日常節奏的自由轉換</a></h3>
                    </div>
                </div>
            </div>
            <!-- single latest blog -->
            <div class="col-md-4 col-sm-4">
                <div class="aa-latest-blog-single">
                    <figure class="aa-blog-img">
                        <a href="~/Blog/Blog3"><img src="~/Assets/images/HomeImages/blog3.jpg" alt="img"></a>
                    </figure>
                    <div class="aa-blog-info">
                        <h3 class="aa-blog-title"><a href="~/Blog/Blog3">日本快訊--毛嵐</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2"></div>
        </div>


    </div>



        <br />
        <br />
        <br />
        <br />



    </div>