
    <div class="container" style="margin-top:50px; line-height:50px;text-indent:2em;text-align:center;">
        <img src="~/Assets/images/BlogImages/Blog3_Japan.png" /><br />
        <br />
        <img src="~/Assets/images/BlogImages/Blog3_Big.png" style="width:1150px" /><br />
        <br />

        <div class="container">
            <div class="row" style="margin:0 auto; width:58%;text-align:left">
                <span>早晨驟降的氣溫, 使得湖面上起了霧氣, 在這樣的景色中幻想, 樹林彷彿受到旭日照耀而安心吐息著。</span>
                <span>
                    <br />
                    湖與海面起霧的現象稱為「毛嵐」(讀音: kearashi), 從字面上看會以為是狂亂的氣候狀態(編按:「嵐」在日文中為「暴風雨」的意思), 但其實是用來形容從晚秋進入冬天, 放晴而平靜的清晨的字詞。當太陽緩緩升起, 霧氣逐漸散去, 能夠看到這般景象變化的人實屬幸運。
                </span><br />
                <span>
                    在日本特有的詩「俳句」(讀音: haiku)中, 秋季的霧氣使用「霧」(讀音: kiri)這個詞, 冬季的霧氣則以「毛嵐」來表達。最近正是楓葉現蹤的時候, 日本各聚落展現著一幅幅如畫景色, 是一年裡最有藝術感的季節。
                </span><br />
                <span>
                    如同秋冬交替之際樹木變幻著色彩, 皮革也會隨著時間與使用變化表情樣貌。當您欣賞紅葉時, 請務必攜帶土屋鞄的皮革製品一同前往, 在美麗的季節風景中, 皮革也將與自然巧妙地融合。

                </span><br />
            </div>
        </div>


        <hr size="8px" align="center" width="70%">
        <h3>更多文章</h3>
        <br />
        <div class="row" style="text-align:center">
            <div class="col-md-2 col-sm-2"></div>
            <!-- single latest blog -->
            <div class="col-md-4 col-sm-4">
                <div class="aa-latest-blog-single">
                    <figure class="aa-blog-img">
                        <a href="~/Blog/Blog1"><img src="~/Assets/images/HomeImages/blog1.jpg" alt="img"></a>
                    </figure>
                    <div class="aa-blog-info">
                        <h3 class="aa-blog-title"><a href="~/Blog/Blog1">日常節奏的自由轉換</a></h3>
                    </div>
                </div>
            </div>
            <!-- single latest blog -->
            <div class="col-md-4 col-sm-4">
                <div class="aa-latest-blog-single">
                    <figure class="aa-blog-img">
                        <a href="~/Blog/Blog2"><img src="~/Assets/images/HomeImages/blog2.jpg" alt="img"></a>
                    </figure>
                    <div class="aa-blog-info">
                        <h3 class="aa-blog-title"><a href="~/Blog/Blog2">大人系的成熟品味</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2"></div>
        </div>
        <br />
        <br />
        <br />
        

    </div>