
    <div class="container" style="margin-top:50px; line-height:50px;text-indent:2em;text-align:center;">
        <img src="~/Assets/images/BlogImages/Blog1_Big.jpg" style="width:1150px" /><br />

        <br />
        <img src="~/Assets/images/BlogImages/Blog1_title1.png" style="width:280px" <br />
        <br />
        <span>
            穿行在生活日常,
        </span><br />
        <span>
            工作與運動間,
        </span><br />
        <span>
            循自己的步調,
        </span><br />
        <br />
        <span>
            帶點 smart casual, 兼具正式與休閒的獨特,
        </span><br />
        <span>
            與 Tone Oilnume 中型後背包一起,
        </span><br />
        <span>
            自由轉換呼吸節奏。
        </span><br />
        <br />
        <span>
            揹上它, 新的一天, 開始。
        </span><br />
        <br />

        <img src="~/Assets/images/BlogImages/Blog1_1.jpg" style="width:1000px" /><br /><br />
        <span>
            夏日早晨, 前往公司的路途,
        </span><br />
        <span>
            一左一右, 步伐踏出節奏。
        </span><br />
        <span>
            騰出的雙手自由擺動, 迎接直面而來的暑風,
        </span><br />
        <span>

            簡約, 不需受任何拘束。
        </span><br /><br />

        <img src="~/Assets/images/BlogImages/Blog1_2.jpg" style="width:1000px" /><br /><br />
        <span>
            午後的工作時刻, 直挺立於桌角, 翻找閱讀文件,
        </span><br />
        <span>
            在安靜凝神的片刻, 以相同姿態, 靜靜陪伴,
        </span><br />
        <span>
            恰如其分的相處, 是讓人能專注在工作的夥伴。
        </span><br /><br />

        <img src="~/Assets/images/BlogImages/Blog1_3.jpg" style="width:1000px" /><br /><br />
        <span>
            「一旦使用了, 就會持續喜歡且持續使用。」
        </span><br />
        <span>
            帶點 smart casual, 兼具正式與休閒的獨特,
        </span><br />
        <span>
            靜置在木桌的模樣, 總忍不住再次複習它的所有細節
        </span><br /><br />

        <img src="~/Assets/images/BlogImages/Blog1_4.jpg" style="width:1000px" /><br /><br />
        <span>
            單肩揹負, 是休息時刻的巧妙轉換,
        </span><br />
        <span>
            將揹帶調整最適合自己的長度,
        </span><br />
        <span>
            成為運動前的呼吸頻率。
        </span><br />
        <span>

            展現自在隨性的一面, 也是自己最真實的模樣。
        </span><br /><br />


        <img src="~/Assets/images/BlogImages/Blog1_5.jpg" style="width:1000px" /><br /><br />
        <span>

            「當我更加熟知包袋內外的每一處機能,
        </span><br />
        <span>
            每次使用, 我都更加上手。」
        </span><br />
        <span>
            幾秒鐘的停駐, 卸下一側的揹帶, 拉開側邊拉鍊,
        </span><br />
        <span>
            直接從主口袋, 輕鬆取出包內物。
        </span><br /><br />


        <img src="~/Assets/images/BlogImages/Blog1_6.jpg" style="width:1000px" /><br /><br />
        <span>
            ​​朝夕相處之下, 皮革質地變得更加柔軟,
        </span><br />
        <span>
            換上慢跑鞋, 繫緊鞋帶, 像呼吸一吐一納,
        </span><br />
        <span>
            許多默契就在這暖身前奏中積累,
        </span><br />
        <span>
            下班後的時刻, 一樣相處融洽。
        </span><br /><br />

        <img src="~/Assets/images/BlogImages/Blog1_7.jpg" style="width:1000px" /><br /><br />
        <span>
            ​​「在工作與日常, 能愉快享受任何狀態的自己,
        </span><br />
        <span>
            是從夥伴身上獲得十足的信賴感。」
        </span><br />
        <span>
            充足的收納, 除了筆記、書本、運動服外,
        </span><br />
        <span>
            置入體積較大的慢跑鞋也不是問題。
        </span><br />
        <span>
            ​簡約質感中自帶風格的搭配節奏,

        </span><br />
        <span>
            能應對日常生活中的各式場合,

        </span><br />
        <span>
            隨著每日揹負, 成為生活不可或缺的夥伴。
        </span><br />
        <br />

        <hr size="8px" align="center" width="30%">
        <h3>此次登場的商品資訊</h3>

        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <a href="~/Detail/9">
                    <img src="~/Assets/images/BlogImages/Blog1_pro1.jpg" style="width:560px" />
                </a>
            </div>
            <div class="col-3"></div>
        </div>

        <button type="button" class="btn btn-secondary btn-lg"><a href="~/Detail/9">Tone Oilnume 中型後背包</a></button>
        <hr size="8px" align="center" width="70%">
        <h3>更多文章</h3>
        <br />
        <div class="row" style="text-align:center">
            <div class="col-md-2 col-sm-2"></div>
            <!-- single latest blog -->
            <div class="col-md-4 col-sm-4">
                <div class="aa-latest-blog-single">
                    <figure class="aa-blog-img">
                        <a href="~/Blog/Blog2"><img src="~/Assets/images/HomeImages/blog2.jpg" alt="img"></a>
                    </figure>
                    <div class="aa-blog-info">
                        <h3 class="aa-blog-title"><a href="~/Blog/Blog2">大人系的成熟品味</a></h3>
                    </div>
                </div>
            </div>
            <!-- single latest blog -->
            <div class="col-md-4 col-sm-4">
                <div class="aa-latest-blog-single">
                    <figure class="aa-blog-img">
                        <a href="~/Blog/Blog3"><img src="~/Assets/images/HomeImages/blog3.jpg" alt="img"></a>
                    </figure>
                    <div class="aa-blog-info">
                        <h3 class="aa-blog-title"><a href="~/Blog/Blog3">日本快訊--毛嵐</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2"></div>
        </div>








    </div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />


