


$base-color:rgb(46,46,46);

$base-font-size:16px;

$base-font: 'Noto Sans TC', sans-serif;

$heading-font: 'Noto Sans TC', sans-serif;

$font-bold:700;

$theme-color:#970001;

$secondary-color:#F7931D;



