
<h2>訂單進貨主頁面</h2>
<div id="ProcumentBlock">
    <table>
        <thead>
            <tr>
                <th>訂單編號</th>
                <th>產品名稱</th>
                <th>產品單價</th>
                <th>產品數量</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>{{}}</th>
                <th>{{}}</th>
                <th>{{}}</th>
                <th>{{}}</th>
            </tr>
        </tbody>
    </table>
</div>
@section Scripts{
    <script>
        var recieve;

        new Vue({
            el: '#ProcumentBlock',
            data: {}
            ,
            

        });





    </script>
}
