@using Leder.ViewModels;
@model IEnumerable<ProductViewModel>

<section id="aa-product-category">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-8 col-md-push-3">
                <div class="aa-product-catg-content">
                    <div class="aa-product-catg-head">
                        <div class="aa-product-catg-head-left">
                            <select id="SortedDropdown">
                                <option value="1">排序方式依</option>
                                <option value="2">名稱 </option>
                                <option value="3">價格(由低到高)</option>
                                <option value="4">價格(由高到低)</option>
                            </select>
                        </div>
                        <div class="aa-product-catg-head-right">
                            <a id="grid-catg" href="#"><span class="fa fa-th"></span></a>
                            <a id="list-catg" href="#"><span class="fa fa-list"></span></a>
                        </div>
                    </div>
                    @Html.Partial("_ProductPartial", Model);
                </div>
            </div>
            @Html.Partial("_SidebarPartial");
        </div>
    </div>
</section>
@section Scripts{
    <script>

        /*number跟val放全域變數，希望使用者原初的頁碼or排序法能被記住*/
        var number = 1; //按到第幾頁，number跟著變
        var value = 1;    //排序方法
        Initialize();
        function Initialize() {
            //頁碼
            $('.PageNumber').click(function () {
                number = this.innerText;  //取頁數的值，也順便更動全域變數number
                var routePath = location.pathname; //抓Url的值
                $.ajax({
                    type: "Post",
                    url: "/Product/Pagination",
                    data: { PageNumber: number, Value: value, RoutePath: routePath },
                    dataType: "text",
                    success: function (response) {
                        $("#ProductDisplay").empty();
                        $("#PagenumberDisplay").empty();
                        $("#ProductDisplay").html(response);
                        Initialize();
                        $('html, body').scrollTop(140); //讓網頁卷軸移到可以看到商品的視角
                    }
                });
            })

            //排序方法
            $('#SortedDropdown').change(function (e) { //下拉式選單改變發生時
                value = $(this).val();                   //選到哪個value
                var routePath = location.pathname;       //抓Url的值
                $.ajax({
                    type: "Post",
                    url: "/Product/Pagination",
                    data: { PageNumber: number, Value: value, RoutePath: routePath },
                    dataType: "text",
                    success: function (response) {
                        $("#ProductDisplay").empty();
                        $("#PagenumberDisplay").empty();
                        $("#ProductDisplay").html(response);
                        Initialize();
                        $('html, body').scrollTop(140); //讓網頁卷軸移到可以看到商品的視角
                    }
                });
            });

            //Sidebar看點到哪個商品類別
            $('.ProductCategory').click(function (e) {
                    var stateObj = { index: this.id };
                    window.history.pushState(stateObj, this.id, '/Product/'+this.id);
                    var category = this.id;      

                $.ajax({
                    type: "Post",
                    url: "/Product/ChangeCategory",
                    data: { Category: category },
                    dataType: "text",
                    success: function (response) {
                        $("#ProductDisplay").empty();
                        $("#PagenumberDisplay").empty();
                        $("#ProductDisplay").html(response);
                        Initialize();
                    }
                });
            })

            //滑鼠移至頁碼就會變成手指鼠標
            $('.PageNumber').hover(function () {
                $(this).css("cursor", "pointer");
            });
        }

    </script>
}

