@using Leder.ViewModels;
@model ProductViewModel


<!-- product category -->
<section id="aa-product-details">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-product-details-area">
                    <div class="aa-product-details-content">
                        <div class="row">
                            <!-- Modal view slider -->
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                <div class="aa-product-view-slider">
                                    <div id="demo-1" class="simpleLens-gallery-container">
                                        <div class="simpleLens-container">
                                            <div class="simpleLens-big-image-container"><a data-lens-image="/Assets/images/@Model.Category/@Model.Photos[0]" class="simpleLens-lens-image"><img src="/Assets/images/@Model.Category/@Model.Photos[0]" class="simpleLens-big-image"></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- Modal view content -->
                            <div class="col-md-7 col-sm-7 col-xs-12">
                                <div class="aa-product-view-content">
                                    <h3>@Model.Name</h3>
                                        <div class="aa-price-block" style="margin-top:45px" >
                                            <span class="aa-product-view-price">NT$@Model.Price</span>
                                            <p class="aa-product-avilability">Avilability: <span>In stock</span></p>
                                        </div>
                                       
                                        <div class="aa-prod-quantity">
                                            <form action="">
                                                <h4 class="ProductQuantity">數量</h4> <input type="number" min="1" value="1" style="width:40px" />
                                            </form>
                                        </div>

                                            <p class="aa-prod-category">
                                                Category: <a href="~/Product/@Model.Category">@Model.Category</a>
                                            </p>
                                       
                                        <div class="aa-prod-view-bottom">
                                            <a class="aa-add-to-cart-btn" href="#">Add To Cart</a>
                                            <a class="aa-add-to-cart-btn" href="#">Wishlist</a>
                                        </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="aa-product-details-bottom">
                        <ul class="nav nav-tabs" id="myTab2">
                            <li><a href="#description">Item Details</a></li>
                        </ul>

                        <!-- 更多更多的商品照片 -->

                        <div class="row">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-8" style="margin-top:50px; line-height:50px;text-indent:2em;">
                                @Model.Description
                            </div>
                            <div class="col-lg-2"></div>
                        </div>

                     
                            @foreach (var item in Model.Photos)
                            {
                                <div style="text-align:center;"><p><img src="~/Assets/images/@Model.Category/@item" /></p></div>
                            }


                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- / product category -->



